@import "../../styles/mixins";
@import "../../styles/variables";

.insight {
  display: flex;
  gap: 90px;

  &__title {
    margin-top: 70px;
    color: $text-grey;
    @include typography(400, 24px);
  }

  &__image {
    position: relative;
    z-index: 10;
  }
}
