---
import Header from '../layouts/Header/Header.astro';
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main/Main.astro';

import './index.scss'
---

<Layout title="AstroVibe">
	<div class="wrapper">
		<Header />
		<Main />
	</div>
</Layout>
