---
import DaliyInsights from "./DailyInsights/DailyInsights.astro";
import AppBenefits from "./AppBenefits/AppBenefits.astro";
import MembershipOptions from "./MembershipOptions/MembershipOptions.astro";
---

<main id="main">
  <DaliyInsights />
  <AppBenefits />
  <MembershipOptions />
</main>
